# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python distribution/build files
build/
dist/
*.egg-info/

# Logs
*.log